.about {
    background: black;
    padding: 100px 0;
    &__wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 205px auto;
        column-gap: 220px;
        &-1 {
            .descr {
                color: white;
                margin-bottom: 15px;
            }
        }
        &-2 {
            .descr {
                color: white;
            }
        }
    }
}