.slider {
    background: black;
    padding: 100px 0;
    &__wrapper {
        margin-top: 100px;
        &-block {
            margin: 0 10px;
            outline: 0;
            display: flex;
            gap: 75px;
            &-text {
                .title {
                    font-size: 72px;
                    color: #85CCDC;
                    font-weight: 400;
                }
                .descr {
                    margin-top: 44px;
                }
            }
        }
    }
    .slick-arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 215px;
        outline: 0;
    }
    .slick-next {
        left: 40px;
    }
    .slick-prev {
        right: 550px;
    }
}