@media (max-width: 1200px) {
    .menu {
        &__season {
            li {
                a {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .menu {
        &__season {
            li {
                a {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .container {
            max-width: 100%;
        }
        .menu {
            z-index: 2;
            margin: unset;
            transition: 1s all;
            display: block;
            width: 80%;
            left: -100%;
            background: #187763;
            .container {
                max-width: 100%;
                padding: 0;
            }
            &__season {
                height: 100vh;
                flex-direction: column;
                &-list {
                    padding: 20px 0;
                    text-align: center;
                    margin-right: 0;
                }
            }
            &__close {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }
        .active {
            left: 0;
            transition: 1s all;
        }
        .hamburger {
            position: absolute;
            top: 20px;
            right: 20px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            span {
                display: block;
                width: 30px;
                height: 3px;
                background: $main-color;
            }
            span.long {
                width: 36px;
            }
        }
        .logo {
            img {
                padding: 0 125px;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        .logo {
            img {
                padding: 0 50px;
            }
        }
        &:before {
            height: 120px;
        }
    }
}